.intro-left__btn{
    background: none;
    border: none;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    background: mediumaquamarine;
    font-family: $text-font;
    text-transform: $text-case;
    margin-bottom: 4rem;
}