nav{
    width: 100vw;
    height: 10vh;
    background: $primary-colour;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;

    .logo{
        display: flex;
        align-items: center;
    }
    .logo-img{
        width: 50px;
        height: 50px;
        filter: invert(80%) sepia(48%) saturate(4124%) hue-rotate(312deg) brightness(100%) contrast(92%);
    }
    // filter from https://codepen.io/sosuke/pen/Pjoqqp//

    .logo-text{
        font-size: 3rem;
        letter-spacing: $letter-spacing;
        padding: 1rem;
        text-transform: $text-case;
        color: $tertiary-colour;
        font-family: $heading-font;
        letter-spacing: $text-case
    }
    ul{
        list-style: none;
        display: none;
        
    }
    li{
        font-size: 2rem;
        letter-spacing: $letter-spacing;
        padding: 1.7rem;
        text-transform: $text-case;
        color: $text-colour;
        font-family: $heading-font;
        letter-spacing: $text-case
    }
    .nav-icon img{
        width: 35px;
        height: 35px;
    }
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 600px) and (max-width: 992px){
    nav{
        ul{
            display: flex;
        }
        .nav-icon{
            display: none;
        }
    }
}

/* Large Devices (Laptop/Desktop) */
@media only screen and (min-width: 992px) and (max-width: 1920px){
    nav{
        ul{
            display: flex;
        }
        .nav-icon{
            display: none;
        }
    }
}