
// variables
$text-colour: #101010;
$text-font: 'Catamaran', sans-serif;
$heading-colour: tomato;
$heading-font: 'Oswald', sans-serif;
$letter-spacing: 0.5rem;
$primary-colour: papayawhip;
$secondary-colour: lightcyan;
$tertiary-colour: salmon;
$text-case: uppercase;